
node_modules/
.pnp/
.pnp.js

**/.env
**/.env.local
**/.env.*.local
**/.env.login
**/.env.portifolio
**/.dockerignore
**/GEMINI.md


npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

mongo_data/

**/dist/
**/build/
**/out/

.vscode/
.idea/
.DS_Store
Thumbs.db